---
import Head from "@/components/head.astro";
import QuizLayout from "@/layout/challenge.astro";
import { MyChallenges as MyChallengesInner } from "@/components/my-challenges";
import { getChallenges } from "@/lib/games/challenge/queries";
import {
  getCurrentPage,
} from "@/lib/utils/records-per-page";

const title = "My Quizzes | Guess the Anime Theme";
const description = "Manage your created anime theme challenges.";

const user = Astro.locals.user;
const userId = user?.id;

if (!userId) {
  return Astro.redirect("/auth/signin");
}
const recordsPerPage =
  parseInt(Astro.url.searchParams.get("recordsPerPage") as string) || 10;
const currentPage = getCurrentPage(Astro.url.searchParams);
let challenges = await getChallenges(userId, Astro.url.searchParams, recordsPerPage);
---

<QuizLayout title={title}>
  <Head title={title} description={description} />
  {
    !challenges.success ? (
      challenges.error && <p>{challenges.error}</p>
    ) : (
      <MyChallengesInner
        challenges={challenges.value}
        currentPage={currentPage}
        pageSize={recordsPerPage}
        url={Astro.url.toString()}
        client:load
      />
    )
  }
</QuizLayout>
