---
import Head from "@/components/head.astro";
import QuizLayout from "@/layout/quiz.astro";
import { MyQuizzes } from "@/components/my-quizzes";
import { getQuizzes } from "@/lib/games/quiz/queries";

const title = "My Quizzes | Guess the Anime Theme";
const description = "Manage your created anime theme quizzes.";

const user = Astro.locals.user;
const userId = user?.id;

if (!userId) {
  return Astro.redirect("/login");
}
let quizzes = await getQuizzes(userId);
---

<QuizLayout title={title}>
  <Head title={title} description={description} />
  {
    !quizzes.success ? (
      quizzes.error && <p>{quizzes.error}</p>
    ) : (
      <MyQuizzes quizzes={quizzes.value} client:load />
    )
  }
</QuizLayout>
