---
import Head from "@/components/head.astro";
import QuizLayout from "@/layout/quiz.astro";
import { MyQuizzes } from "@/components/my-quizzes";
import { getQuizzes } from "@/lib/games/quiz/queries";
import {
  getRecordsPerPage,
  getCurrentPage,
} from "@/lib/utils/records-per-page";

const title = "My Quizzes | Guess the Anime Theme";
const description = "Manage your created anime theme quizzes.";

const user = Astro.locals.user;
const userId = user?.id;

if (!userId) {
  return Astro.redirect("/auth/signin");
}
const recordsPerPage = getRecordsPerPage(Astro.url.searchParams);
const currentPage = getCurrentPage(Astro.url.searchParams);
let quizzes = await getQuizzes(userId, Astro.url.searchParams);
---

<QuizLayout title={title}>
  <Head title={title} description={description} />
  {
    !quizzes.success ? (
      quizzes.error && <p>{quizzes.error}</p>
    ) : (
      <MyQuizzes
        quizzes={quizzes.value}
        currentPage={currentPage}
        pageSize={recordsPerPage}
        url={Astro.url.toString()}
        client:load
      />
    )
  }
</QuizLayout>
