---
import Head from "@/components/head.astro";
import { AppSidebar } from "@/components/app-sidebar";
import { SIDEBAR_COOKIE_NAME } from "@/components/ui/sidebar";

interface Props {
  title: string;
  description?: string;
}
const { title, description } = Astro.props;
const user = Astro.locals.user;
const isSidebarOpen = Astro.cookies.get(SIDEBAR_COOKIE_NAME)?.value === "true";
const isDarkMode = Astro.cookies.get("theme")?.value === "dark";
---

<html lang="en" class={isDarkMode ? "dark" : ""}>
  <Head title={title} description={description} />
  <body>
    <AppSidebar
      isDarkMode={isDarkMode}
      isSidebarOpen={isSidebarOpen}
      user={user}
      client:load
    >
      <slot />
    </AppSidebar>
  </body>
</html>
