---
import Head from "@/components/head.astro";
import { AppSidebar } from "@/components/app-sidebar";
import { SIDEBAR_COOKIE_NAME } from "@/components/ui/sidebar";
import type { Entity, EntityStatus } from "@/lib/types";
import { createReadPresignedUrl } from "@/lib/s3";

type Props = {
  title: string;
  description?: string;
  image?: string;
  path?: string;
} & (
  | {
      page: "Search";
      searchType: Entity;
    }
  | {
      page: "mal_id";
    }
  | {
      page: Entity;
      entityStatus: EntityStatus;
    }
);
const { title, description, image, path, ...props } = Astro.props;
const user = Astro.locals.user;
if (user && !user.image) {
  const img = await createReadPresignedUrl(`${user.id}/avatar`);
  user.image = img;
}
const isSidebarOpen = Astro.cookies.get(SIDEBAR_COOKIE_NAME)?.value === "true";
const isDarkMode = Astro.cookies.get("theme")?.value === "dark";
Astro.response.headers.set('Cloudflare-CDN-Cache-Control', 'max-age=86400');
---

<html lang="en" class={isDarkMode ? "dark" : ""}>
  <Head title={title} description={description} image={image} path={path} />
  <body class="bg-sidebar">
    <div class="texture" style="view-transition-name: page-texture"></div>
    <AppSidebar
      isDarkMode={isDarkMode}
      isSidebarOpen={isSidebarOpen}
      variant="inset"
      user={user}
      title={title}
      url={Astro.url.toString()}
      searchProps={props}
      client:load
    >
      <slot />
    </AppSidebar>
  </body>
</html>
